In [7]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [9]:
# Import our input dataset
attrition_df = pd.read_csv('/content/gdrive/MyDrive/Neural_Networks/HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [13]:
# Generate our categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

attrition_cat

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

In [11]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [12]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [14]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [15]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 448

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
35/35 [==============================] - 1s 3ms/step - loss: 164.4780 - accuracy: 0.8276
Epoch 2/100
35/35 [==============================] - 0s 2ms/step - loss: 73.6968 - accuracy: 0.8167
Epoch 3/100
35/35 [==============================] - 0s 2ms/step - loss: 28.1051 - accuracy: 0.8067
Epoch 4/100
35/35 [==============================] - 0s 2ms/step - loss: 7.2169 - accuracy: 0.7015
Epoch 5/100
35/35 [==============================] - 0s 2ms/step - loss: 5.1062 - accuracy: 0.7241
Epoch 6/100
35/35 [==============================] - 0s 2ms/step - loss: 4.1065 - accuracy: 0.7432
Epoch 7/100
35/35 [==============================] - 0s 3ms/step - loss: 3.3143 - accuracy: 0.7250
Epoch 8/100
35/35 [==============================] - 0s 2ms/step - loss: 2.4967 - accuracy: 0.7468
Epoch 9/100
35/35 [==============================] - 0s 2ms/step - loss: 1.5332 - accuracy: 0.7985
Epoch 10/100
35/35 [==============================] - 0s 2ms/step - loss: 0.8759 - accuracy: 0.8212
Epoch 11/100
35/35 [==============================] - 0s 2ms/step - loss: 1.0257 - accuracy: 0.8076
Epoch 12/100
35/35 [==============================] - 0s 2ms/step - loss: 0.9311 - accuracy: 0.8230
Epoch 13/100
35/35 [==============================] - 0s 2ms/step - loss: 1.2718 - accuracy: 0.7759
Epoch 14/100
35/35 [==============================] - 0s 6ms/step - loss: 0.9730 - accuracy: 0.8212
Epoch 15/100
35/35 [==============================] - 0s 6ms/step - loss: 1.1264 - accuracy: 0.7913
Epoch 16/100
35/35 [==============================] - 0s 4ms/step - loss: 0.9093 - accuracy: 0.8230
Epoch 17/100
35/35 [==============================] - 0s 5ms/step - loss: 1.1192 - accuracy: 0.7931
Epoch 18/100
35/35 [==============================] - 0s 4ms/step - loss: 0.8418 - accuracy: 0.8094
Epoch 19/100
35/35 [==============================] - 0s 4ms/step - loss: 1.0249 - accuracy: 0.8185
Epoch 20/100
35/35 [==============================] - 0s 5ms/step - loss: 1.2100 - accuracy: 0.8176
Epoch 21/100
35/35 [==============================] - 0s 4ms/step - loss: 0.9739 - accuracy: 0.8221
Epoch 22/100
35/35 [==============================] - 0s 7ms/step - loss: 0.9934 - accuracy: 0.7822
Epoch 23/100
35/35 [==============================] - 0s 7ms/step - loss: 1.1623 - accuracy: 0.7695
Epoch 24/100
35/35 [==============================] - 0s 8ms/step - loss: 0.9143 - accuracy: 0.8103
Epoch 25/100
35/35 [==============================] - 0s 11ms/step - loss: 1.6047 - accuracy: 0.8185
Epoch 26/100
35/35 [==============================] - 0s 4ms/step - loss: 1.0061 - accuracy: 0.7414
Epoch 27/100
35/35 [==============================] - 0s 5ms/step - loss: 0.6854 - accuracy: 0.8194
Epoch 28/100
35/35 [==============================] - 0s 4ms/step - loss: 1.1143 - accuracy: 0.7414
Epoch 29/100
35/35 [==============================] - 0s 4ms/step - loss: 0.8196 - accuracy: 0.7777
Epoch 30/100
35/35 [==============================] - 0s 4ms/step - loss: 0.7913 - accuracy: 0.8167
Epoch 31/100
35/35 [==============================] - 0s 4ms/step - loss: 0.7602 - accuracy: 0.8194
Epoch 32/100
35/35 [==============================] - 0s 4ms/step - loss: 0.6380 - accuracy: 0.8240
Epoch 33/100
35/35 [==============================] - 0s 4ms/step - loss: 0.7087 - accuracy: 0.8212
Epoch 34/100
35/35 [==============================] - 0s 4ms/step - loss: 1.1573 - accuracy: 0.8103
Epoch 35/100
35/35 [==============================] - 0s 5ms/step - loss: 1.0716 - accuracy: 0.8094
Epoch 36/100
35/35 [==============================] - 0s 6ms/step - loss: 0.8748 - accuracy: 0.7858
Epoch 37/100
35/35 [==============================] - 0s 5ms/step - loss: 0.9841 - accuracy: 0.8013
Epoch 38/100
35/35 [==============================] - 0s 9ms/step - loss: 1.5374 - accuracy: 0.8285
Epoch 39/100
35/35 [==============================] - 0s 4ms/step - loss: 0.8069 - accuracy: 0.8212
Epoch 40/100
35/35 [==============================] - 0s 6ms/step - loss: 0.5858 - accuracy: 0.8004
Epoch 41/100
35/35 [==============================] - 0s 6ms/step - loss: 0.6370 - accuracy: 0.8176
Epoch 42/100
35/35 [==============================] - 0s 6ms/step - loss: 1.3066 - accuracy: 0.8285
Epoch 43/100
35/35 [==============================] - 0s 4ms/step - loss: 0.8158 - accuracy: 0.8140
Epoch 44/100
35/35 [==============================] - 0s 6ms/step - loss: 0.8880 - accuracy: 0.8258
Epoch 45/100
35/35 [==============================] - 0s 7ms/step - loss: 0.7559 - accuracy: 0.8267
Epoch 46/100
35/35 [==============================] - 0s 4ms/step - loss: 0.8394 - accuracy: 0.8258
Epoch 47/100
35/35 [==============================] - 0s 4ms/step - loss: 0.5920 - accuracy: 0.8249
Epoch 48/100
35/35 [==============================] - 0s 5ms/step - loss: 0.7428 - accuracy: 0.8031
Epoch 49/100
35/35 [==============================] - 0s 7ms/step - loss: 0.7829 - accuracy: 0.8149
Epoch 50/100
35/35 [==============================] - 0s 4ms/step - loss: 1.0522 - accuracy: 0.7886
Epoch 51/100
35/35 [==============================] - 0s 5ms/step - loss: 0.8236 - accuracy: 0.7849
Epoch 52/100
35/35 [==============================] - 0s 3ms/step - loss: 0.7589 - accuracy: 0.8230
Epoch 53/100
35/35 [==============================] - 0s 7ms/step - loss: 0.8508 - accuracy: 0.8221
Epoch 54/100
35/35 [==============================] - 0s 7ms/step - loss: 0.8556 - accuracy: 0.8267
Epoch 55/100
35/35 [==============================] - 0s 11ms/step - loss: 1.0572 - accuracy: 0.7995
Epoch 56/100
35/35 [==============================] - 0s 8ms/step - loss: 0.7441 - accuracy: 0.8221
Epoch 57/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5869 - accuracy: 0.8221
Epoch 58/100
35/35 [==============================] - 0s 5ms/step - loss: 0.9117 - accuracy: 0.8267
Epoch 59/100
35/35 [==============================] - 0s 5ms/step - loss: 0.8275 - accuracy: 0.8194
Epoch 60/100
35/35 [==============================] - 0s 3ms/step - loss: 0.6610 - accuracy: 0.8267
Epoch 61/100
35/35 [==============================] - 0s 7ms/step - loss: 0.5520 - accuracy: 0.8240
Epoch 62/100
35/35 [==============================] - 0s 5ms/step - loss: 0.7610 - accuracy: 0.8158
Epoch 63/100
35/35 [==============================] - 0s 4ms/step - loss: 0.9094 - accuracy: 0.8267
Epoch 64/100
35/35 [==============================] - 0s 2ms/step - loss: 1.2852 - accuracy: 0.7568
Epoch 65/100
35/35 [==============================] - 0s 2ms/step - loss: 0.8753 - accuracy: 0.8276
Epoch 66/100
35/35 [==============================] - 0s 2ms/step - loss: 0.8968 - accuracy: 0.8276
Epoch 67/100
35/35 [==============================] - 0s 2ms/step - loss: 0.8043 - accuracy: 0.8249
Epoch 68/100
35/35 [==============================] - 0s 2ms/step - loss: 0.7497 - accuracy: 0.8076
Epoch 69/100
35/35 [==============================] - 0s 2ms/step - loss: 0.7991 - accuracy: 0.8240
Epoch 70/100
35/35 [==============================] - 0s 2ms/step - loss: 0.9952 - accuracy: 0.8103
Epoch 71/100
35/35 [==============================] - 0s 2ms/step - loss: 0.9541 - accuracy: 0.8249
Epoch 72/100
35/35 [==============================] - 0s 2ms/step - loss: 0.7576 - accuracy: 0.8221
Epoch 73/100
35/35 [==============================] - 0s 2ms/step - loss: 0.8073 - accuracy: 0.8276
Epoch 74/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6996 - accuracy: 0.8267
Epoch 75/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6928 - accuracy: 0.8258
Epoch 76/100
35/35 [==============================] - 0s 2ms/step - loss: 0.9383 - accuracy: 0.7731
Epoch 77/100
35/35 [==============================] - 0s 2ms/step - loss: 1.1114 - accuracy: 0.8276
Epoch 78/100
35/35 [==============================] - 0s 2ms/step - loss: 0.7144 - accuracy: 0.7949
Epoch 79/100
35/35 [==============================] - 0s 2ms/step - loss: 0.7001 - accuracy: 0.8276
Epoch 80/100
35/35 [==============================] - 0s 2ms/step - loss: 0.8444 - accuracy: 0.8230
Epoch 81/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6172 - accuracy: 0.8258
Epoch 82/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6763 - accuracy: 0.8249
Epoch 83/100
35/35 [==============================] - 0s 2ms/step - loss: 0.8705 - accuracy: 0.8013
Epoch 84/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6484 - accuracy: 0.8212
Epoch 85/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5746 - accuracy: 0.8294
Epoch 86/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5536 - accuracy: 0.8294
Epoch 87/100
35/35 [==============================] - 0s 2ms/step - loss: 0.7396 - accuracy: 0.8113
Epoch 88/100
35/35 [==============================] - 0s 2ms/step - loss: 0.8085 - accuracy: 0.8240
Epoch 89/100
35/35 [==============================] - 0s 2ms/step - loss: 0.8017 - accuracy: 0.8004
Epoch 90/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5632 - accuracy: 0.8249
Epoch 91/100
35/35 [==============================] - 0s 2ms/step - loss: 1.1433 - accuracy: 0.8240
Epoch 92/100
35/35 [==============================] - 0s 2ms/step - loss: 0.8560 - accuracy: 0.8276
Epoch 93/100
35/35 [==============================] - 0s 2ms/step - loss: 0.7990 - accuracy: 0.8212
Epoch 94/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5879 - accuracy: 0.8303
Epoch 95/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6105 - accuracy: 0.8212
Epoch 96/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6458 - accuracy: 0.8221
Epoch 97/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6827 - accuracy: 0.8212
Epoch 98/100
35/35 [==============================] - 0s 2ms/step - loss: 0.7587 - accuracy: 0.8249
Epoch 99/100
35/35 [==============================] - 0s 2ms/step - loss: 1.1237 - accuracy: 0.8240
Epoch 100/100
35/35 [==============================] - 0s 2ms/step - loss: 0.7602 - accuracy: 0.8230

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.6585 - accuracy: 0.8641 - 199ms/epoch - 17ms/step
Loss: 0.658460795879364, Accuracy: 0.864130437374115